$primary-color: #F7E97C;
$text-color: #20292F;
$error-color: #e74c3c;
$error-darker-color: #c0392b;
$success-color: #2ecc71;
$success-darker-color: #27ae60;
$nav-height: 40px;
$nav-height-mobile: 35px;
$nav-width-mobile: 100vw;
$nav-transition: 350ms;
